
html {
  margin: 20px;
  /*padding: 10px;*/
}

* {
  font-family: "Spartan", sans-serif;
}

body {
	background-color: white;
}

#myInput {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.list-item {
	background-color: #F3F3F3;
	border-radius: 8px;
	padding: 15px 20px;
	text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;

	display: inline-block;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: move;
}

.lists .list {
	padding: 8px;
}

.lists {
	/*background-color: rgba(0, 0, 0, 0.1);*/
	min-height: 150px;
	transition: all 0.2s linear;

}

.sem {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.1);
}


/* Dragula from https://codepen.io/nikkipantony/pen/qoKORX */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
