body {
	background-color: white;
}

#myInput {
  width: 80%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-left: 10%;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}

.list .list-item {
	background-color: #F3F3F3;
	border-radius: 8px;
	padding: 15px 20px;
	text-align: center;
	margin: 4px 0px;
	display: inline-block;
}
.lists .list {
/*	display: flex;
	flex-flow: column;
	flex: 1;*/


	padding: 8px;
}

.list-item {
	max-width: 300px;
}

.lists {
	/*background-color: rgba(0, 0, 0, 0.1);*/
	min-height: 150px;
	transition: all 0.2s linear;

}

#queue {
	background-color: rgba(0, 0, 0, 0.1);
	display: block;
	max-width: 80%;
	min-height: 200px;
	max-height: 400px;
	margin-left: 10%;
}

.sem1 {
	display: block;
	margin-left: 15%;
	margin-right: 2%;
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 250px;
	max-height: 250px;
	background-color: rgba(0, 0, 0, 0.1);
}

.sem2 {
	display: block;
	margin-left: 2%;
	margin-right: 15%;
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 250px;
	max-height: 250px;
	background-color: rgba(0, 0, 0, 0.1);
}


/* Stuff that Allison Added to Test??? */
#content{
	margin-left: 5%;
	margin-right: 5%;
	position: right;
}

.sidebar{
	margin-bottom: -101%;
	padding-bottom: 101%; 
	width: 25%;
	height: 100vh;
	background-color:grey;
	transition: .7s
}

.sidebar-toggle{
	z-index: 1;
	outline: none;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-top: 1em;
	background-color: grey;
	transition: .7s;
}

.buttons{
	display: inline-block;
}

.leftButton{
	margin-left: 23%;
	position: absolute;
}

.rightButton{	
	margin-right: 23%;
	position: relative;
	float: right; 
}

.leftButton.is-closed{
	margin-left: 15%;
	transform: translateX(-400%);
}

.rightButton.is-closed {
	margin-right: 15%;
	transform: translateX(400%);
}

.left {
  	position: relative;
}

.left.is-closed {
	transform: translateX(-90%);
}

.right {	
	float: right;
	position: relative;
}

.right p {
	margin-left: 10%;
}

.right.is-closed {
	transform: translateX(90%);
}