
html {
  margin: 20px;
  /*padding: 10px;*/
}

* {
  font-family: "Spartan", sans-serif;
}

body {
  background-color: white;
}

.mainBody {
  margin-top: 5%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  /*padding-top: 50px;*/
  top: 40px;
  background-color: white;
  z-index: 3;
}
#myInput {
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.list-item {
	background-color: #F3F3F3;
	border-radius: 8px;
	padding: 15px 20px;
	text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;

	display: inline-block;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: grab;
}

.lists .list {
	padding: 8px;
}

.lists {
	/*background-color: rgba(0, 0, 0, 0.1);*/
	/* min-height: 150px; */
	transition: all 0.2s linear;

}

.sem {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.1);
}

.semTitle{
  position: absolute;
  bottom: 10%;
  right: 10%;
  font-size: 20px;
  font-weight: bold;
  font-variant-caps: small-caps;
  color: white;

}
/* Dragula from https://codepen.io/nikkipantony/pen/qoKORX */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 2 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  /*background-color: #46B39F;*/
}

.gu-transit {
  opacity: 0.2;
  /*background-color: #eee;*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

#slider {
  z-index: 4;
}

.slideIn {
  position: fixed;
  width: 300px;
  height: 70vh;
  top: 10%;
  left: -302px;
  /* Animation  */
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slideOut {
  position: fixed;
  width: 300px;
  height: 70vh;
  top: 25%;
  left: -2px;
  /* Animation  */
  transition-property: all;
  transition-duration: 1.6s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

#slider2 {
  z-index: 4;
}

.slideIn2 {
  position: fixed;
  width: 300px;
  height: 70vh;
  top: 10%;
  right: -302px;
  /* Animation  */
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slideOut2 {
  position: fixed;
  width: 300px;
  height: 70vh;
  top: 25%;
  right: -3px;
  /* Animation  */
  transition-property: all;
  transition-duration: 1.6s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slideOutTab2 {
  margin-top: 50px;
  position: absolute;
  left: -40px;
  height: 200px;
  width: 40px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  background: #F2AB34;
  border-radius: 15px 0px 0px 15px
}

.slideOutTab2 div {
  text-align: center;
  position: relative;
  right: 70px;
  top: 90px;
  background: #F2AB34;
  width: 180px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: lr-tb;
}

.slideOutTab {
  margin-top: 50px;
  position: absolute;
  right: -40px;
  height: 200px;
  width: 40px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  background: #F2AB34;
  border-radius: 0px 15px 15px 0px
}

.slideOutTab div {
  text-align: center;
  position: relative;
  right: 70px;
  top: 90px;
  background: #F2AB34;
  width: 180px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: lr-tb;
}

.modal-body {
  height: 62vh;
}

.our-team {
  border: 2px solid #47C2FF;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  z-index: 1;
  position: relative;
}

.our-team:before ,
.our-team:after {
  content: "";
  width: 100%;
  height: 104%;
  background-color: #47C2FF;
  position: absolute;
  top: 50%;
  left: 0%;
  z-index: -1;
  transform: translateY(-50%) scaleX(0.3);
  transition: all 0.3s ease 0s;
}

.our-team:after {
  width: 106%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(0.25);
}

.our-team:hover:before {
  transform: translateY(-50%) scale(0.7);
}

.our-team:hover:after {
  transform: translate(-50%, -50%) scaleY(0.7);
}

.our-team img {
  width: 20%;
  height: auto;
  border-radius: 10px;
  transition: all 0.3s ease 0s;
}

.our-team .team-content {
  width: 93%;
  padding: 25px 0 10px;
  background: #47C2FF;
  position: absolute;
  bottom: 50px;
  left: 50%;
  opacity: 0;
  -webkit-clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  transform: translateX(-50%);
  transition: all 0.3s cubic-bezier(0.5, 0.2, 0.1, 0.9);
}

.our-team:hover .team-content {
  bottom: 10px;
  opacity: 1;
}

.our-team .title {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0;
}

.our-team .post {
  display: block;
  font-size: 16px;
  color: #fff;
 text-transform: uppercase;
 margin-bottom: 10px;
 }

.our-team .social {
  padding: 0;
  margin: 0;
  list-style: none;
}

.our-team .social li {
  display: inline-block;
  margin: 0 5px;
}

.our-team .social li a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 20px;
  color: #47C2FF;
  transition: all 0.3s ease 0s;
}

.our-team .social li a:hover {
  background: linear-gradient(to bottom, #47C2FF, #0088c7);
  box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.3);
  color: #fff;
}

@media only screen and (max-width: 990px) {
  .our-team {
    margin-bottom: 30px; 
  }
}

.infoTable {
  display: none;
}

/* ----------- Styling Information for clean print view ----------- */
@media print {
  * {
    /* background: transparent !important; */
    /* color: #000 ! important; */
    /* box-shadow: none !important; */
    /* text-shadow: none !important; */
    -webkit-print-color-adjust: exact !important;
  }

  body {
    -webkit-print-color-adjust: exact !important;

  }

  .infoTable {
    display: block;
  }

  .navbar {
    display: none;
  }

  .searchAndShow {
    display: none;
  }

  #slider {
    display: none;
  }

  #slider2 {
    display: none;
  }

  .semTitle {
    top: 4%;
    left: 4%;
  }

  .col-md-6 {
    /* width: 10% !important; */
    border-color: #7096bd !important;
    border-width: 2px !important;
    border: solid;
    /* border-radius: 15px !important; */
  }

  .sem {
    color: red !important;
    /* background-color: red !important; */
    float: inline-end;
    /* border: black !important;
    border-width: 5px !important; */
    min-height: 150px !important;
    /* height: 50px !important; */
    padding-top: 40px;
  }

  .list-item {
    /* color: red !important;
    background-color: black !important; */
    margin-top: 5px !important;
    /* background-color: red !important; */
    border-radius: 0 !important;
    padding: 0px 0px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    margin-bottom: 0px !important;
    text-align: left;
  }

  .row {
    /* display: inline-block; */
    /* border: solid;
    border-width: 5px;
    border-color: black; */
  }

  .lists {
    border: solid;
    border-color: #7096bd !important;
    border-width: 2px !important;
    margin-left: 10px;
    margin-right: 10px;
    /* border-color: black; */
  }

  .even {
    background-color: #d2ddef !important;
  }

  .odd {
    background-color: #eaeef7 !important;
  }

  h2 {
    margin-top: 0;
  }

  .mainBody {
    margin-top: 0;
  }

  .table-bordered {
    border: solid !important;
    border-color: #7096bd !important;
    border-width: 2px !important;
  }

  .infoTable {
    margin-top: 0;
    padding: 0 !important;
    margin-left: 10px;
    margin-right: 10px;
  }

  .table {
    /* width: 80%; */
    border: solid !important;
    border-color: #7096bd !important;
    border-width: 2px !important;
  }
  tr {
    height: 25px !important;
  }
  
  td, th {
    border: solid !important;
    background-color: #7096bd !important;
    border-color: white !important;
  
    /* border-color: white; */
    border-width: 3px !important;
    text-align: center;
  }
  
  td {
    font-size: 10px;
  }
  
  th {
    font-size: 20px;
    padding: 5px;
  }
  
  .leftCol {
    background-color: #d2ddef !important;
    border-color: white !important;
  
    color: darkblue !important;
    font-weight: bold !important;
  }
  
  .rightCol {
    background-color: #eaeef7 !important;
    border-color: white !important;
  
    color: black;
    font-weight: bold;
  }
  
  .tableNoBS {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

}

